<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chistes</title>
</head>
<body>
    <h1>Cual es el chiste?</h1>
  <div>
    <p>
      <%= idChiste %>  <!-- viene de la renderización en index.js-->
    </p>
  </div>

  <div>
    <p>
      <%= textChiste %>  <!-- viene de la renderización en index.js-->
    </p>
  </div>

  <div>
    <p>
      <%= typeChiste %>  <!-- viene de la renderización en index.js-->
    </p>
  </div>

</body>
</html>